.main-header {
    font-family: 'Lato', sans-serif;
    text-align: center;
    width: 100%;
}
.main-header__logo {
    margin-bottom: 80px;
    margin-top: 112px;
}
.main-header__title-function {
    color: #1C346C;
    font-size: 40px;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 32px;
}
.main-header__title-challenge {
    font-size: 48px;
    color: #1C346C;
    font-style: italic;
}
.main-header__title-challenge span {
    color: #F5C33D;
}

.container {
    max-width: 1613px;
    margin: 0 auto;
}

.main-content {
    font-family: 'Lato', sans-serif;
    margin-top: 112px;
}
.main-content__methodology {
    background-image: url('../img/bg-section-1.svg');
    background-position-x: 102%;
    background-repeat: no-repeat;
    background-size: 50%;
    height: 764px;
}
.main-content__methodology-dot {
    color: #1C346C;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}
.main-content__methodology-dot:after {
    content: '';
    height: 4px;
    display: block;
    width: 50px;
    background: #1C346C;
}
.main-content__methodology-border {
    background: #1C346C;
    border-radius: 3px;
    height: 4px;
    width: 50px;
}
.main-content__methodology-title {
    margin-top: 24px;
}
.main-content__methodology-desc {
    color: #1C346C;
    font-size: 64px;
    letter-spacing: 0;
    max-width: 950px;
}
.main-content__methodology-text .main-content__methodology-desc {
    color: #3B3B3B;
    font-size: 24px;
    font-weight: 300;
    max-width: 674px;
}
.main-content__case {
    text-align: center;
}

