.main-header {
    font-family: 'Lato', sans-serif;
    text-align: center;
    width: 100%;
}
.main-header__logo {
    margin-bottom: 80px;
    margin-top: 112px;
}
.main-header__title-function {
    color: #1C346C;
    font-size: 40px;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 32px;
}
.main-header__title-challenge {
    font-size: 48px;
    color: #1C346C;
    font-style: italic;
}
.main-header__title-challenge span {
    color: #F5C33D;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.main-content {
    font-family: 'Lato', sans-serif;
    margin-top: 112px;
}
.main-content__methodology-dot {
    border-bottom: 3px solid;
    border-radius: 2px;
    color: #1C346C;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0px 0px 0px 0;
    text-transform: uppercase;
}